.title {
  text-align: center;
  padding-top: 20px;
}

.wrapper {
  width: 100%;
  padding: 50px;
  padding: 50px 120px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lastName {
  display: flex;
}

.inputText {
  padding-left: 10px;
}

.lastNameInput {
  z-index: -1;
  background: none;
  border: none;
  width: fit-content;
  white-space: nowrap;
  font-size: 20px;
  padding-left: 10px;
}
.lastNameInput:focus {
  outline: none;
}

.lastNameBtn {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.lastNameBtn:hover {
  border-bottom: solid;
  transform: scale(1.05);
}

.dateInput {
  background: none;
  border: none;
  text-align: end;
  width: fit-content;
  font-size: 20px;
}
.dateBtn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.dateBtn:hover {
  border-bottom: solid;
  transform: scale(1.05);
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btnLoadImg {
  display: flex;
  gap: 4px;
  transition: all 0.3s;
  position: relative;
  top: 15px;
  right: 10px;
}
.btnLoadImg:hover {
  transform: scale(1.05);
  cursor: pointer;

  .btnLoadItems {
    box-shadow: 0px 0px 6px 1px white;
  }
}

.btnLoadItems {
  width: 4px;
  height: 4px;
  padding: 2px;
  border-radius: 50%;
  background-color: #94a6be;
}

.imgInfo {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 130px;
  top: 185px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  position: absolute;
  padding: 10px;
}

.addImg{
  cursor: pointer;
  transition: all 0.3s;
}
.addImg:hover{
  transform: scale(1.05);
}

.userImage {
  background: #d0d0d0;
  margin-bottom: 30px;
  max-width: 250px;
  max-height: 370px;
  border-radius: 5px;
}
.userImageBg {
  background: #d0d0d0;
  margin-bottom: 30px;
  width: 250px;
  height: 370px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.headImg {
  width: 80px;
  height: 80px;
  background-color: #94a6be;
  border-radius: 100%;
}
.bodyImg {
  border: 80px solid transparent;
  border-top: 80px solid #94a6be;
  border-radius: 100%;
  border-right: 80px solid #94a6be;
  rotate: -45deg;
}

.inputLoadImg {
  display: none;
}

.contentAboutMe {
  display: flex;
  font-size: 20px;
  padding-top: 50px;
}
.textarea {
  width: 700px;
  height: 200px;
  resize: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
