@keyframes filterClosing {
  from {
    height: 30px;
  }
  to {
    height: 0px;
  }
}

@keyframes filterOpening {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}

.filter {
  display: flex;
  justify-content: center;
  color: white;
  gap: 30px;
  padding: 20px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

.topContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchContent {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 50px;
}

.search {
  border: none;
  font-size: 16px;
}
.search:focus {
  outline-style: none;
}

.searchBtn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
  background-color: #cccccc;
}
.searchBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.openFilter {
  width: 15px;
  height: 15px;
  rotate: 45deg;
  border-bottom: solid 2px;
  border-right: solid 2px;
}
.openFilter:hover {
  cursor: pointer;
}

.openFilterActive {
  width: 15px;
  height: 15px;
  rotate: 225deg;
  border-bottom: solid 2px;
  border-right: solid 2px;
}
.openFilterActive:hover {
  cursor: pointer;
}

.modalOpen {
  animation-name: filterOpening;
  animation-duration: 0.3s;
  height: 30px;
}

.modalClose {
  animation-name: filterClosing;
  animation-duration: 0.3s;
}

.filterContent {
  height: 0px;
}

.itemContent {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked {
  border: solid blue 2px;
}

.checkbox:checked::after {
  content: '';
  width: 3px;
  height: 3px;
  padding: 5px;
  background: blue;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
}
