.wrapper {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 5px;
}

.wrapperDark {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 20px;
  width: 250px;
  color: white;
  height: 150px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px -10px;
}

.titleContent {
  display: flex;
  justify-content: space-between;
}

.description {
  font-family: sans-serif;
}

.titleText {
  font-size: 20px;
  font-weight: bold;
}

.commonTasks {
  content: '';
  background-color: greenyellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.createDate {
  text-align: end;
}
