.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  width: 600px;
  height: 400px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: rgb(181 181 181);
  font-size: 18px;
  box-shadow: 0px 0px 50px -20px white;
}

.contentDark {
  width: 600px;
  height: 400px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: rgb(0, 0, 0);
  font-size: 18px;
  color: #ffffff;
  box-shadow: 0px 0px 50px -20px white;
}

.contentTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.closeWindow {
  text-decoration: none;
  color: black;
}

.closeWindowDark {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.taskInput {
  border: none;
  width: 280px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 20px 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background: #ffffff;
}

.taskInputDark {
  border: none;
  width: 280px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 20px 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  background: #757575;
}

.textarea {
  width: 280px;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  padding: 5px 10px;
}

.textareaDark {
  width: 280px;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
  background: #757575;
  padding: 5px 10px;
}

.contentBottom {
  display: flex;
  justify-content: space-between;
}

.checkboxContent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked {
  border: solid blue 2px;
}

.checkbox:checked::after {
  content: '';
  width: 3px;
  height: 3px;
  padding: 5px;
  background: blue;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
}

.addButton {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: greenyellow;
  cursor: pointer;
  transition: all 0.3s;
}

.addButton:hover {
  transform: scale(1.05);
}
