.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  gap: 30px;
  width: 400px;
  height: 500px;
  background-color: rgb(215, 208, 208);
  color: black;
}

.inputText {
  padding-bottom: 5px;
}

.input {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.loginbutton {
  padding: 5px 85px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: greenyellow;
}

.errorMessage {
  color: red;
  font-size: 20px;
}

.gotologin {
  padding-top: 30px;
}
